html {
	background-color: #c1c1c1;
	overflow: hidden; 
}


h1, h2 {
	text-align: center;

}


p {
	text-align: center;
}

button {
	width: 200px;
	margin: auto;
	display: block;
}

a {
	display: block;
	text-decoration: none;
}

.alto img, .bajo img {
	width: 100px;
}




.bajo {
	position: absolute;
	bottom: 0px;
	width: 100%;

}